services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    networks:
      - backend_network
    environment:
      MYSQL_HOST: "mysql"
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "password_root"
      MYSQL_DATABASE: "test"
      PORT: "3000"
      JWT_SECRET: "your_jwt_secret"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    networks:
      - backend_network
    environment:
      PORT: "5173"

  nginx:
    build: ./nginx
    ports: 
      - "80:80"
    networks:
      - backend_network

networks:
  backend_network:
    driver: bridge