services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - backend_network
    environment:
      REDIS_HOST : "redis"
      REDIS_PORT: "6379"
      TTL : "3600000"
      CLEANUP_INTERVAL : "600000"
      PORT : "3000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - backend_network
    environment:
      PORT: "5173"
      VITE_LOG_LEVEL: "debug"

  nginx:
    build: ./nginx
    ports: 
      - "80:80"
    networks:
      - backend_network
  redis:
    image: redis:latest
    # volumes:
    #   - redis_data:/data
    networks:
      - backend_network
    command: ["redis-server", "--appendonly", "yes"]

# volumes:
#   redis_data:

networks:
  backend_network:
    driver: bridge
