services:
  nginx:
    build: ./nginx
    ports: 
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - backend_network

networks:
  backend_network:
    driver: bridge
